nav {
    display: inline-block;
    height: 100%;
}

@keyframes disappre {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

ul {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(53, 201, 187, 0.3);
    transition: .3s;
    transform: translate(-100%, 0);
    overflow: hidden;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

ul li {
    display: block;
    height: 55px;
    width: 85%;
    margin: 9px;
    border-radius: 5px;
    position: relative;
    transition: .3;
}

ul .line {
    height: 2px;
    width: 80%;
    background-color: rgb(0, 0, 0);
}

ul .bottom {
    position: relative;
    top: calc(30% - -111px);
}

ul .profile {
    display: block;
    height: 90px;
    width: 85%;
    position: relative;
    top: 47%;
}

ul .profile span {
    position: absolute;
    display: inline-block;
    top: 24px;
    left: 79px;
    width: 74px;
    word-break: normal;
    font-size: smaller;
    font-weight: 500px;
    color: rgb(60, 60, 60);
}

ul .profile::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 6px;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgb(10, 77, 202);
    background-image: url("http://q1.qlogo.cn/g?b=qq&nk=1292750686&s=640");
	background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: .3s;
}

ul .zozlogo::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 88px;
    height: 50px;
    width: 40px;
    margin: auto;
    background-image: url("../imags/zozlogo.png");
	background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: .3s;
}

ul li i {
    font-size: 40px;
    position: absolute;
    margin: 0 0 0 13px;
}

ul li span {
    position: relative;
    top: 12px;
    left: 74px;
    font: 500 20px '';
    opacity: 0;
    transition: .1s;
    user-select: none;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul:hover {
    width: 180px;
}

ul li:hover {
    background-color: rgba(31, 172, 182, 0.6);
}

ul:hover .profile::before {
    left: 15px;
}

ul:hover span {
    opacity: 1;
}

.fas {
    transform: translateY(6px);
}