.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    transform: translate(0, 100%);
    transition: 0s;
    opacity: 0;
}
.fa {
    color: rgba(255, 255, 255, 0.781);
    margin: 10px 5px;
    font-size: 2em !important;
}
.fa:hover {
    color: #35c9bb;
}
