* {
    margin: 0;
    padding: 0;
    cursor: url("../imags/Cursor.png"), default;
    list-style: none;
    overflow-y: none;
}

html {
    height: 100%;
}

body {
    background: url("https://w.wallhaven.cc/full/72/wallhaven-72rxqo.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
    overflow: hidden;
    height: 100%;
}

.unselect {
    user-select: none;
}

.hidden_box {
    overflow: hidden;
}

.load_interface {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}