body {
    background: url("https://w.wallhaven.cc/full/3z/wallhaven-3z32j3.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
    height: 100%;
}
nav {
    height: 70px;
    position: relative;
    background-color: #39c6ba9c;
}
nav .main_page {
    height: 100%;
    width: 150px;
    min-width: 150px;
    position: relative;
    transition: .2s;
    cursor: pointer;
}
nav .main_page .profile {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 15px;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgb(10, 77, 202);
    background-image: url("http://q1.qlogo.cn/g?b=qq&nk=1292750686&s=640");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: .3s;
}
nav .main_page p {
    position: absolute;
    top: 10%;
    left: 84px;
    user-select: none;
}
nav .main_page:hover {
    background-color: rgba(0, 0, 0, 0.425);
}
header {
    text-align: center;
}
input::placeholder {
    color: #1faca2;
}
header p {
    font-size: 10px;
}
a {
    text-decoration: none;
}
.red_text {
    color: red;
}
.tip {
    font-weight: lighter;
    font-size: 1px;
}
section {
    background-color: rgb(122, 111, 111, .3);
}
ul li {
    list-style: none;
    margin-top: 10px;
    margin-left: 20%;
    position: relative;
}
ul li div {
    display: inline-block;
}
ul li .declear {
    width: 100px;
    text-align: right;
}
ul li input {
    width: 200px;
}
ul li .getConfigCode {
    width: 110px;
    position: absolute;
    left: -13px;
    top: 0px;
    color: #0d8078;
}
ul li .agree {
    width: 40px;
    margin-left: 50px;
    user-select: none;
}
ul img {
    width: 100px;
    height: 100px;
    margin-top: 6px;
    margin-left: 30%;
}
form .confirm {
    margin-left: 40%;
    color: #0d8078;
}
ul li .topic_like .topics {
    width: 10px;
}
ul li .topic_like label {
    user-select: none;
}
audio {
    width: 300px;
}