body {
    background: url("https://w.wallhaven.cc/full/z8/wallhaven-z8dg9y.png");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
nav {
    height: 70px;
    position: relative;
    background-image: linear-gradient(135deg, rgb(74, 221, 206, .6) 10%, rgb(47, 158, 147) 100%);
    user-select: none;
}
nav ul {
    height: 100%;
    list-style: none;
    display: inline-block;
}
nav ul li {
    float: left;
    position: relative;
    height: 100%;
    width: 150px;
    transition: .3s;
}
nav ul li:hover {
    background-color: #29a195;
}
nav .main_page {
    height: 100%;
    width: 150px;
    position: relative;
    transition: .2s;
}
nav .main_page .profile {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 15px;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgb(10, 77, 202);
    background-image: url("http://q1.qlogo.cn/g?b=qq&nk=1292750686&s=640");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
nav .main_page p {
    position: absolute;
    top: 20px;
    left: 84px;
}
nav ul .tools {
    width: 100px;
}
nav .tools p {
    position: absolute;
    top: 20px;
    left: 30px;
}
nav ul .lab {
    width: 130px;
}
nav .lab p {
    position: absolute;
    top: 20px;
    left: 30px;
}
header {
    text-align: center;
}
input::placeholder {
    color: #1faca2;
}
header p {
    font-size: 10px;
}
a {
    text-decoration: none;
}
.red_text {
    color: red;
}
.tip {
    font-weight: lighter;
    font-size: 1px;
}
section {
    background-color: rgb(122, 111, 111, .3);
}
.register_form ul li {
    list-style: none;
    margin-top: 10px;
    margin-left: 20%;
    position: relative;
}
.register_form ul li div {
    display: inline-block;
}
.register_form ul li .declear {
    width: 100px;
    text-align: right;
}
.register_form ul li input {
    width: 200px;
}
.register_form ul li .getConfigCode {
    width: 110px;
    position: absolute;
    left: -13px;
    top: 0px;
    color: #0d8078;
}
.register_form ul li .agree {
    width: 40px;
    margin-left: 50px;
    user-select: none;
}
.register_form ul img {
    width: 100px;
    height: 100px;
    margin-top: 6px;
    margin-left: 30%;
}
form .confirm {
    margin-left: 40%;
    color: #0d8078;
}
.register_form ul li .topic_like .topics {
    width: 10px;
}
.register_form ul li .topic_like label {
    user-select: none;
}
audio {
    width: 300px;
}