* {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: url("../imags/Cursor.png"), default;
    user-select: none;
}
body {
    height: 100%;
    width: 100%;
    background-image: -moz-linear-gradient(135deg, rgb(57, 197, 187), rgb(203, 173, 255));
    background-image: -webkit-linear-gradient(135deg, rgb(57, 197, 187), rgb(203, 173, 255));
    background-image: linear-gradient(135deg, rgb(57, 197, 187), rgb(203, 173, 255));
}
.title {
    color: #fff;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
}
.descrip {
    text-align: center;
    color: #fff;
}
.Tests {
    background-color: rgb(255, 255, 255, .4);
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 23px;
    overflow: auto;
}
.Tests ul li {
    width: 204px;
    height: 200px;
    background-color: #35c9ba8c;
    float: left;
    margin: 40px;
    border-radius: 25px;
    transition: .3s;
}
.Tests ul li h1 {
    font-size: 40px;
    margin-top: 30px;
    font-size: 28px;
    text-align: center;
    color: #fff;
}
.Tests ul li p {
    margin-top: 25px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
}
.Tests ul li:hover {
    transform: scale(1.2, 1.2);
}