body {
    background-image: url(https://w.wallhaven.cc/full/pk/wallhaven-pkw6y3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    overflow: hidden;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
header {
    height: 70px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.226);
}
header .main_page {
    height: 100%;
    width: 20%;
    min-width: 150px;
    position: relative;
    transition: .2s;
    cursor: pointer;
}
header .main_page .profile {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 15px;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgb(10, 77, 202);
    background-image: url("http://q1.qlogo.cn/g?b=qq&nk=1292750686&s=640");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: .3s;
}
header .main_page p {
    position: absolute;
    top: 20px;
    right: 20px;
    user-select: none;
}
header .main_page:hover {
    background-color: rgba(0, 0, 0, 0.425);
}
h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
ul li {
    display: block;
    width: 85%;
    height: 50px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.205);
    margin: auto;
    margin-top: 8px;
    border-radius: 30px;
    opacity: .8;
    transition: .5s;
    user-select: none;
}
ul li .contain {
    position: absolute;
    left: 40px;
    top: 12px;
}
ul li::after {
    content: ">";
    position: absolute;
    right: 22px;
    top: 13px;
}
ul li:hover {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.356);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.699);
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:rgb(0, 255, 242);
}