body {
    background-image: url(https://w.wallhaven.cc/full/pk/wallhaven-pkw6y3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    overflow: hidden;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    cursor: url("../imags/Cursor.png"), default;
}
nav {
    height: 70px;
    position: relative;
    background-image: linear-gradient(135deg, rgb(74, 221, 206, .6) 10%, rgb(47, 158, 147) 100%);
    user-select: none;
}
nav ul {
    height: 100%;
    list-style: none;
    display: inline-block;
}
nav ul li {
    float: left;
    position: relative;
    height: 100%;
    width: 150px;
    transition: .3s;
}
nav ul li:hover {
    background-color: #29a195;
}
nav .main_page {
    height: 100%;
    width: 150px;
    position: relative;
    transition: .2s;
}
nav .main_page .profile {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 15px;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgb(10, 77, 202);
    background-image: url("http://q1.qlogo.cn/g?b=qq&nk=1292750686&s=640");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
nav .main_page p {
    position: absolute;
    top: 20px;
    left: 84px;
}
nav ul .tools {
    width: 100px;
}
nav .tools p {
    position: absolute;
    top: 20px;
    left: 30px;
}
nav ul .lab {
    width: 130px;
}
nav .lab p {
    position: absolute;
    top: 20px;
    left: 30px;
}
h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.list ul li {
    display: block;
    width: 85%;
    height: 50px;
    position: relative;
    background-image: linear-gradient(135deg, rgba(74, 221, 206, 0.753) 10%, rgb(47, 158, 147) 100%);
    margin: auto;
    margin-top: 8px;
    border-radius: 30px;
    opacity: .8;
    transition: .5s;
    user-select: none;
}
.list ul li .contain {
    position: absolute;
    left: 40px;
    top: 12px;
}
.list ul li::after {
    content: ">";
    position: absolute;
    right: 22px;
    top: 13px;
}
.list ul li:hover {
    width: 90%;
    background-color: rgba(53, 201, 187);
    opacity: none;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.699);
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:rgb(0, 255, 242);
}